<!DOCTYPE html>
<html>
<%- include('../partials/head.ejs'); %>
<body>
    <%- include('../partials/navbar.ejs'); %>

    <div class="header has-background-grey-lighter">
        <div class="container">
            <h1 class="title"><%= locals.title %></h1>
            <p class="subtitle is-6">Manage your forum's content and settings</p>
        </div>
    </div>

    <br />

    <div class="container">
        <div class="columns">
            <div class="column is-2">
                <%- include('../partials/adminMenu.ejs'); %>
            </div>
            <div class="column">
                <h1 class="title">Overview</h1>
                <p class="subtitle is-6">Your forum is running on Cirro <%= version %></p>

                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <div class="content">
                                    <h1 class="title is-3" id="uptime"></h1>
                                    <p class="subtitle is-6">Uptime</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <div class="content">
                                    <h1 class="title is-3">0s</h1>
                                    <p class="subtitle is-6">Uptime</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <div class="content">
                                    <h1 class="title is-3">0s</h1>
                                    <p class="subtitle is-6">Uptime</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    const start = parseInt(`<%= startDate %>`);
    
    function updateUptime() {
        let now = Date.now();
        let time = now - start;

        $('#uptime').text = time;
    }

    updateUptime();

    setInterval(() => updateUptime(), 1000);
    </script>

    <%- include('../partials/scripts.ejs'); %>
</body>
</html>