<!DOCTYPE html>
<html>
<%- include('../partials/head.ejs'); %>
<body>
    <%- include('../partials/navbar.ejs'); %>

    <div class="profile has-background-grey-lighter">
        <div class="container">
            <div class="columns">
                <div class="column is-1">
                    <img class="avatar" src="<%= !user.avatar ? '/img/defaultAvatar.png' : user.avatar %>" alt="Avatar" />
                </div>
                <div class="column">
                    <h1 class="title"><%= user.username %></h1>
                    <p class="subtitle is-6">Joined in <%= months[new Date(user.createdAt).getMonth()] %></p>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="container">

    </div>

    <%- include('../partials/scripts.ejs'); %>
</body>
</html>